@import: "polyfills";

// Login Error
@-webkit-keyframes loginError {
	8%, 41% { left: ~"calc(50% - 10px)"; }
	25%, 58% { left: ~"calc(50% + 10px)"; }
	75% { left: ~"calc(50% - 5px)"; }
	92% { left: ~"calc(50% + 5px)"; }
	0%, 100% { left: ~"calc(50% - 0)"; }
}
@-moz-keyframes loginError {
	8%, 41% { left: ~"calc(50% - 10px)"; }
	25%, 58% { left: ~"calc(50% + 10px)"; }
	75% { left: ~"calc(50% - 5px)"; }
	92% { left: ~"calc(50% + 5px)"; }
	0%, 100% { left: ~"calc(50% - 0)"; }
}
@-o-keyframes loginError {
	8%, 41% { left: ~"calc(50% - 10px)"; }
	25%, 58% { left: ~"calc(50% + 10px)"; }
	75% { left: ~"calc(50% - 5px)"; }
	92% { left: ~"calc(50% + 5px)"; }
	0%, 100% { left: ~"calc(50% - 0)"; }
}
@keyframes loginError {
	8%, 41% { left: ~"calc(50% - 10px)"; }
	25%, 58% { left: ~"calc(50% + 10px)"; }
	75% { left: ~"calc(50% - 5px)"; }
	92% { left: ~"calc(50% + 5px)"; }
	0%, 100% { left: ~"calc(50% - 0)"; }
}
// Modals
@-webkit-keyframes modalShow {
	0% {.m-transform(translate(-50%, -50%) scale(.7)); }
	45% { .m-transform(translate(-50%, -50%) scale(1.05)); }
	80% { .m-transform(translate(-50%, -50%) scale(.95)); }
	100% { .m-transform(translate(-50%, -50%) scale(1)); }
}
@-moz-keyframes modalShow {
	0% { .m-transform(translate(-50%, -50%) scale(.7)); }
	45% { .m-transform(translate(-50%, -50%) scale(1.05)); }
	80% { .m-transform(translate(-50%, -50%) scale(.95)); }
	100% { .m-transform(translate(-50%, -50%) scale(1)); }
}
@-o-keyframes modalShow {
	0% { .m-transform(translate(-50%, -50%) scale(.7)); }
	45% { .m-transform(translate(-50%, -50%) scale(1.05)); }
	80% { .m-transform(translate(-50%, -50%) scale(.95)); }
	100% { .m-transform(translate(-50%, -50%) scale(1)); }
}
@keyframes modalShow {
	0% { .m-transform(translate(-50%, -50%) scale(.7)); }
	45% { .m-transform(translate(-50%, -50%) scale(1.05)); }
	80% { .m-transform(translate(-50%, -50%) scale(.95)); }
	100% { .m-transform(translate(-50%, -50%) scale(1)); }
}
