@import: "colors";
@import: "polyfills";

.btn {
	width: 250px;
	height: 44px;
	padding: 0;
	line-height: 12px;
	font-size: .875em;
	font-weight: 600;
	color: @white-1;
	background-color: @lightBlue;
	box-shadow: inset 0 -2px 0 0 fadeout(@darkBlue, 80%), 0 1px 3px rgba(0,0,0,.24);
	border: none;
	border-radius: 4px;
	.m-transition(box-shadow .24s ease, background-color .24s ease;);
	.m-user-select(none);
	&:hover {
		background-color: lighten(@lightBlue, 6%);
		cursor: pointer;
	}
	&:active {
		color: @white-1;
		background-color: darken(@lightBlue, 6%);
		box-shadow: inset 0 -2px 0 0 fadeout(@darkBlue, 80%);
	}
}
.btn--dark {
	background-color: @darkBlue;
	&:hover { background-color: lighten(@darkBlue, 6%); }
	&:active { background-color: darken(@darkBlue, 6%); }
}
