// Libraries
@import "normalize";
@import "font-awesome";
// Maid Components
@import "technical";
@import "fonts";
@import "z-index";
@import "colors";
@import "polyfills";
@import "animations";
@import "tooltips";
@import "buttons";
@import "standard";
@import "modals";
@import "forms";
@import "panels";
// Modals
@import "modal-connect";
@import "modal-settings";
// Panels
@import "panel-networks";
@import "panel-console";
@import "panel-users";

html {
	width: 100%;
	height: 100%;
	font-size: 100%;
	overflow: hidden;
}
body {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans',Helvetica,sans-serif;
	background: @white-3;
	overflow: hidden;
}
#client {
	display: flex;
	height: 100%;
	width: 100%;
}
