@import: "color";
@import: "polyfills";

// Placeholder text color
input::-webkit-input-placeholder {
	color: @f-darkBlue;
}
input:-moz-placeholder {
	color: @f-darkBlue;
}
input::-moz-placeholder {
	color: @f-darkBlue;
}
input:-ms-input-placeholder {
	color: @f-darkBlue;
}
// Change placeholder text color on focus
input:focus::-webkit-input-placeholder {
	color: @darkestBlue;
}
input:focus:-moz-placeholder {
	color: @darkestBlue;
}
input:focus::-moz-placeholder {
	color: @darkestBlue;
}
input:focus:-ms-input-placeholder {
	color: @darkestBlue;
}
// Inputs
input {
	background-color: @white;
	padding: 0 20px;
	font-size: 14px;
	line-height: 20px;
	color: @darkestBlue;
	border: 0;
	box-shadow: inset 0 -1px 0 0 @white-3;
	.m-transition(background-color ease-in-out .15s);
	&:focus {
		background-color: @white-3;
		box-shadow: none;
	}
}
input.invalid {
	box-shadow: inset 0 -1px 0 0 @red;

}
input[type="checkbox"] {
	display: block;
	width: 22px;
	height: 22px;
	margin: 3px 0 0 16px;
	font: 10px FontAwesome;
	background: none;
	background-color: @white-1;
	border: 1px solid @white-3;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(240,240,240,.8);
	.m-appearance(none);
	&:hover { cursor: pointer; }
	&:after {
		left: 0;
		display: none;
		width: 22px;
		height: 22px;
		margin: 0;
		color: @lightBlue;
		content: '\f00c';
	}
	&:checked:after {
		left: 0;
		display: block;
		width: 20px;
		height: 20px;
		margin: 0;
		font-size: 14px;
		line-height: 20px;
		color: @white-1;
		text-align: center;
		background-color: @lightBlue;
		border-radius: 3px;
		content: '\f00c';
	}
}
header input::-webkit-input-placeholder {
	color: @white-1;
}
header input:-moz-placeholder {
	color: @white-1;
}
header input::-moz-placeholder {
	color: @white-1;
}
header input:-ms-input-placeholder {
	color: @white-1;
}
