@import: "colors";
@import: "polyfills";

#pageCover {
	z-index: 2;
	// Will Tranition
	visibility: hidden;
	opacity: 0;
	position: absolute;
	// End
	height: 100%;
	width: 100%;
	background-color: fade(@darkBlue, 80%);
	.transition(all .4s ease-in-out);
}
.modal {
	z-index: 3;
	position: absolute;
	.transition(all .4s ease-in-out);
	// Will Tranition
	visibility: hidden;
	top: -50%;
	left: 50%;
	// End
	.transform(translate(-50%, -50%));
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.modal--alert {
	width: 364px;
	height: 160px;
	background-color: @lightGrey;
	border-radius: 4px;
	p {
		display: block;
		padding: 30px 0 0 0;
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		line-height: 18px;
		color: #919191;
		text-align: center;
	}
	footer {
		position: absolute;
		right: 0;
		bottom: 40px;
		left: 0;
		width: 284px;
		height: 40px;
		margin: 0 auto;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		button:first-child {
			margin: 0 40px 0 0;
			text-shadow: 0 1px 1px darken(#de5555, 10%);
			background-color: #de5555;
			border-bottom: 2px solid darken(#de5555, 10%);
		}
		button:last-child {
			text-shadow: 0 1px 1px darken(#39c082, 10%);
			background-color: #39c082;
			border-bottom: 2px solid darken(#39c082, 10%);
		}
		button {
			display: inline-block;
			float: left;
			width: 122px;
			height: 42px;
			line-height: 42px;
			color: @lightGrey;
			text-align: center;
			background: transparent;
			border: none;
			border-radius: 4px;
			&:hover { cursor: pointer; }
			&:active { box-shadow: inset 0 2px 6px rgba(60,60,60,.4); }
		}
	}
}
#settings {
	width: 600px;
	height: 400px;
	background-color: @lightGrey;
	border-radius: 4px;
	header {
		width: 100%;
		height: 40px;
		background-color: @lightBlue;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		-webkit-user-select: none;
		   -moz-user-select: none;
				user-select: none;
		h1 {
			float: left;
			padding: 0 0 0 16px;
			margin: 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 40px;
			color: @lightGrey;
		}
		button {
			float: right;
			width: 40px;
			height: 40px;
			font-size: 20px;
			color: @lightGrey;
			background: none;
			border: none;
			.transition(background-color .2s ease-in-out);
			&:hover {
				cursor: pointer;
				background-color: darken(@lightBlue, 4%);
				border-top-right-radius: 4px;
			}
			&:active {
				background-color: darken(@lightBlue, 8%);
				border-top-right-radius: 4px;
			}
		}
	}
	nav {
		float: left;
		width: 140px;
		height: 360px;
		-webkit-user-select: none;
		   -moz-user-select: none;
				user-select: none;
		ul {
			display: inline-block;
			width: 140px;
			height: 360px;
			padding: 0;
			margin: 0;
			list-style: none;
			background-color: @darkBlue;
			border-bottom-left-radius: 3px;
			li {
				position: relative;
				width: 124px;
				height: 40px;
				padding: 0 0 0 16px;
				font-size: 14px;
				line-height: 40px;
				color: @lightGrey;
				.transition(background-color .2s ease-in-out);
				&:nth-child(even) { background-color: darken(@darkBlue, 2%); }
				&:hover {
					cursor: pointer;
					background-color: @darkBlue;
				}
				&.focused {
					&:before {
						position: absolute;
						top: 12px;
						right: 0;
						height: 0;
						border-top: 7px solid transparent;
						border-right: 7px solid @lightGrey;
						border-bottom: 7px solid transparent;
						content: "";
					}
				}
			}
		}
	}
	.page {
		display: none;
		float: right;
		width: 428px;
		height: 360px;
		padding: 0 16px;
		overflow-x: hidden;
		overflow-y: scroll;
		hr {
			display: block;
			height: 0;
			margin: 0;
			border: none;
			border-top: 1px dashed @darkBlue;
		}
		h2,
		h3 {
			margin: 14px 0;
			padding: 0;
			color: @darkBlue;
		}
		h2 { font-size: 20px; }
		h3 { font-size: 18px; }
		p {
			margin: 0 0 14px 0;
			font-size: 14px;
			font-weight: 200;
			white-space: pre-line;
			color: @darkBlue;
		}
		span.title { font-weight: 400; }
	}
	.page:nth-of-type(1) { display: block; }
	.page#about {
		h1 {
			padding: 14px 0 0 0;
			margin: 0;
			font-size: 60px;
			font-weight: 800;
			line-height: 60px;
			color: @darkBlue;
			span {
				font-weight: 200;
				color: @lightBlue;
			}
		}
		a {
			margin: 0 20px 0 0;
			font-size: 16px;
			&:hover { cursor: pointer; }
			&:last-child { margin: 0; }
		}
	}
}
.modal.displayed {
	top: 50% !important;
	opacity: 1 !important;
	visibility: visible !important;
}
#pageCover.displayed {
	opacity: 1;
	visibility: visible;
}
