@import: "colors";
@import: "buttons";
@import: "standard";
@import: "forms";
@import: "polyfills";
@import: "animations";

#connect {
	height: 316px;
	width: 300px;
	background-color: @white;
	border-radius: 4px;
	&.invalid { .m-animation(loginError .5s ease-in-out); }
}

#connect footer {
	width: inherit;
	height: 44px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	// background-color: #2d3847;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	// Connect button.
	button:first-child {
		width: ~"calc(100% - 64px)";
		height: 44px;
	}
	// Advanced Button
	button:last-child {
		float: right;
		width: 44px;
		height: 44px;
		margin-left: 20px;
	}
}

#connect-basic {
	padding-top: 20px;
	input:not([type="checkbox"]),
	input:not([name="server"]),
	input:not([name="port"]) {
		display: inline-block;
		width: 220px;
		height: 44px;
		margin: 0 20px 20px 20px;
	}
	input[name="server"] {
		width: 146px;
		padding-left: 20px;
		margin: 0 0 20px 20px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	input[name="port"] {
		width: 58px;
		height: 44px;
		padding: 0 0 0 16px;
		margin: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

#connect-advanced {
	display:none;
	padding-top: 20px;
	input:not([type="checkbox"]) {
		display: inline-block;
		width: 220px;
		height: 44px;
		margin: 0 20px 20px 20px;
	}
	input[type="checkbox"] {
		display: inline-block;
		float:left;
	}
}

#connect-advanced .checkboxLabel {
	line-height: 30px;
	margin-left: 10px;
}
