@import: "colors";
@import: "polyfills";

#settings {
	width: 600px;
	height: 400px;
	background-color: @white;
	border-radius: 4px;
}
#settings nav {
	float: left;
	width: 140px;
	height: 360px;
	.m-user-select(none);
}
#settings ul {
	display: inline-block;
	width: 140px;
	height: 360px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: @darkBlue;
	border-bottom-left-radius: 3px;
}
#settings li {
	position: relative;
	width: 124px;
	height: 40px;
	padding: 0 0 0 16px;
	font-size: 14px;
	line-height: 40px;
	color: @white;
	.m-transition(background-color .2s ease-in-out);
	&:nth-child(even) { background-color: darken(@darkBlue, 2%); }
	&:hover {
		cursor: pointer;
		background-color: lighten(@darkBlue, 4%);
	}
	&:hover:nth-child(even) { background-color: lighten(@darkBlue, 2%); }
}
#settings li.focused:before {
	position: absolute;
	top: 12px;
	right: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid @white;
	border-bottom: 7px solid transparent;
	content: "";
}
.page#about h1 {
	padding: 0;
	margin: 0;
	font-size: 60px;
	font-weight: 800;
	line-height: 60px;
	color: @darkBlue;
	span {
		font-weight: 200;
		color: @lightBlue;
	}
}
.page#about a {
	margin: 0 20px 0 0;
	font-size: 16px;
	&:hover { cursor: pointer; }
	&:last-child { margin: 0; }
}
