.transition(@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
		-ms-transition: @transition;
		 -o-transition: @transition;
			transition: @transition;
}
.animation(@animation) {
	-webkit-animation: @animation;
	   -moz-animation: @animation;
		 -o-animation: @animation;
			animation: @animation;
}
.transform(@transform) {
	-webkit-transform: @transform;
	   -moz-transform: @transform;
	    -ms-transform: @transform;
	     -o-transform: @transform;
			transform: @transform;
}
.user-select(@user-select) {
	-webkit-user-select: @user-select;
	   -moz-user-select: @user-select;
		-ms-user-select: @user-select;
			user-select: @user-select;
}
.appearance(@appearance) {
	-webkit-appearance: @appearance;
	   -moz-appearance: @appearance;
			appearance: @appearance;
}
