{
  "extends": "airbnb/base",
  "env": {
    "shared-node-browser": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "strict": [2, "global"],
    "indent": [2, "tab", {"SwitchCase": 1}]
  },
  "ecmaFeatures": {
    "modules": false
  }
}
