{
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "strict": [2, "global"],
    "indent": [2, "tab", {"SwitchCase": 1}]
  },
  "globals": {
    "select": true,
    "selectAll": true,
    "Maid": true,
    "io": true,
    "Handlebars": true,
    "Autolinker": true,
    "twemoji": true,
    "uuid": true,
    "UI": true,
    "ui": true,
    "Sources": true,
    "sources": true,
    "Outgoing": true,
    "outgoing": true,
    "Incoming": true,
    "incoming": true,
    "Connections": true,
    "connections": true,
    "Message": true
  }
}
