<div class="source-container" data-connection-id="{{networkId}}">
	<header data-source-type="server">
		<span class="fa fa-angle-down"></span>
		<span>{{networkName}}</span>
		<div class="arrow">
			<span></span>
		</div>
	</header>
	<ul class="channel-source-container"></ul>
</div>
