!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Maid IRC: #{server}
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/client.css')
		script(src='/socket.io/socket.io.js')
	body
		#sidebar
			header
				h1
					span.themecolor Maid
					| IRC
			nav
				ul
			footer#controlSystem
				button#settingsButton.fa.fa-cog
				button#shutdown.fa.fa-power-off
				span#connectionStatus
					| Connecting?
		#rightSide
			#console
				#consoleMiddle
					#consoleLeft
						header#topic
							input(type='text', placeholder='Topic Text Here', value='No channels selected?')
						output#consoleOutput
						#consoleInput
							input(type='text', x-webkit-speech)
							button
								| Enter
					#users
						section#channelUserCount
						ul
						section#userEdit
							i.fa.fa-circle
							h1 #{name}
	script(src='js/lib/jquery-2.1.0.min.js')
	script(src='js/client.js')
	script(src='js/ui.js')
