doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Maid IRC: #{server}
		meta(name='description' content='Maid IRC')
		meta(name='viewport', content='width=device-width', initial-scale='1')
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/client.css')
		script(src='/socket.io/socket.io.js')
	body
		#pageCover
		#settings.modal
			header
				h1 Settings
				button &times;
			nav
				ul
					li IRC
					li Interface
					li About
		#shutdown.modal.alert
			p Are you sure you want to shutdown?
			footer
				button.fa.fa-times
				button.fa.fa-check
		#sidebar
			header
				h1
					span Maid 
					| IRC
			ul#channelList
			footer
				ul
					li.fa.fa-cog
					li.fa.fa-power-off
				span Disconnected
		#channelConsole
			header
				input(type='text', placeholder='Topic', value='')
			output
			footer
				input(type='text', x-webkit-speech)
				button.btn Enter
		#users
			header
				p
			ul
			footer
				button
					i.fa.fa-circle
				h1 #{name}
	script(src='js/lib/jquery-2.1.0.min.js')
	script(src='js/client.js')
	script(src='js/ui.js')
