doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Maid IRC
		meta(name='description', content='Maid IRC')
		meta(name='viewport', content='width=device-width', initial-scale='1', user-scalable='no')
		// Icons
		link(rel='shortcut icon', href='img/icons/favicon.ico')
		link(rel='apple-touch-icon', sizes='57x57', href='img/icons/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/icons/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/icons/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='144x144', href='img/icons/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='60x60', href='img/icons/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='120x120', href='img/icons/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='76x76', href='img/icons/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='152x152', href='img/icons/apple-touch-icon-152x152.png')
		link(rel='icon', type='image/png', href='img/icons/favicon-196x196.png', sizes='196x196')
		link(rel='icon', type='image/png', href='img/icons/favicon-160x160.png', sizes='160x160')
		link(rel='icon', type='image/png', href='img/icons/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='img/icons/favicon-16x16.png', sizes='16x16')
		link(rel='icon', type='image/png', href='img/icons/favicon-32x32.png', sizes='32x32')
		meta(name='msapplication-TileColor', content='#2b5797')
		meta(name='msapplication-TileImage', content='img/icons/mstile-144x144.png')
		meta(name='msapplication-config', content='img/icons/browserconfig.xml')
		// CSS
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/client.css')
		script(src='/socket.io/socket.io.js')
	body
		#pageCover
		#settings.modal
			header
				h1 Settings
				button(type='button') &times;
			nav
				ul
					li.focused IRC
					li Interface
					li About
			.page
				p Sorry, no IRC options added yet!
			.page
				p Sorry, no interface options added yet!
			.page#about
				h1 Maid
					span IRC
				p Version 0.0.11
				a(href='https://github.com/Phalanxia/Maid-IRC', target='_blank') GitHub
				a(href='https://github.com/Phalanxia/Maid-IRC/issues', target='_blank') Report an issue
				a(href='https://raw.githubusercontent.com/Phalanxia/Maid-IRC/master/LICENSE', target='_blank') License
				include ./includes/licenses.jade
		#shutdown.modal.alert
			p Are you sure you want to shutdown?
			footer
				button.fa.fa-times(type='button')
				button.fa.fa-check(type='button')

		// Login

		#login
			#loginContainer
				form(method='post')
					input#name(type='text', placeholder='Nickname', name='nick', spellcheck="false", autofocus, required)
					input#nicknamePassword.advanced(type='password', name='nickPassword', placeholder='Password', tabIndex='-1')
					input#realName.advanced(type='text', name='realName', placeholder='Real Name', tabIndex='-1')
					hr.advanced
					section
						input#server(type='text', placeholder='Server', name='server', spellcheck="false", required)
						input#port(type='number', placeholder='Port', name='port', maxlength='4', max="9999")
					section.checkbox.advanced
						input#ssl(type='checkbox', name='ssl', tabIndex='-1')
						span.checkboxLabel SSL
					input#channel(type='text', placeholder='Channel', name='channel', spellcheck="false", required)
					footer
						button#submit(type='submit', name='connect') Connect
				footer#extra
					a Advanced
					a(href='//github.com/Phalanxia/Maid-IRC', target='_blank') GitHub

		// Client

		#client
			#sidebar
				header
					h1
						span Maid
						| IRC
					span#status
					button.fa.fa-bars
					ul
						li.fa.fa-cog
						li.fa.fa-sign-out
				h2 Server
				ul#channelList
				footer
					button
						span
					input(value=name)
			#channelConsole
				header
					input(type='text',  value='', placeholder='Topic')
				output
					article#filler
						div
				footer
					input(type='text')
					button.btn(type='button') Send
			#users
				header
					p
				ul
				footer
	script(src='js/modules.js')
	script(src='js/client.js')
	script(src='js/ui.js')
