!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title IRC
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		link(rel='stylesheet', type='text/css', href='css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
		script(src='/socket.io/socket.io.js')
	body
		form(action='/client', method='post')
			input(id='server', type='text', placeholder='server', name='server')
			input(id='name', type='text', placeholder='name', name='name')
			input(id='channel', type='text', placeholder='channel', name='channel')
			input(id='submit', type='submit', placeholder='submit', name='submit')
	script(src='js/lib/jquery-2.0.3.js')
	script(src='js/lib/jquery-ui-1.10.3.custom.min.js')
	script(src='js/core.js')