doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Maid IRC
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		script(src='/socket.io/socket.io.js')
	body
		form(action='/client', method='post')
			header
				h1
					span Maid
					| IRC
				a.fa.fa-gear
				a.fa.fa-github(href='//github.com/Phalanxia/Maid-IRC')
			input#name(type='text', placeholder='Nickname', name='name', spellcheck="false", autofocus, required)
			input#nicknamePassword.advanced(type='password', name='nicknamePassword', placeholder='Password', tabIndex='-1')
			input#realName.advanced(type='text', name='realName', placeholder='Real Name', tabIndex='-1')
			hr.advanced
			section
				input#server(type='text', placeholder='Server', name='server', spellcheck="false", required)
				input#port(type='number', placeholder='Port', name='port', maxlength='4', max="9999")
			section.checkbox.advanced
				input#ssl(type='checkbox', name='sslToggle', tabIndex='-1')
				span.checkboxLabel SSL
			input#channel(type='text', placeholder='Channel', name='channel', spellcheck="false", required)
			footer
				button#submit(type='submit', name='submit') Connect
	script(src='js/index.js')
