!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Maid IRC
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		script(src='/socket.io/socket.io.js')
	body
		form(action='/client', method='post')
			h1
				span Maid
				| IRC
			section
				i(class='fa fa-sitemap')
				input(id='server', type='text', placeholder='Server', name='server' required)
			section
				i(class='fa fa-user')
				input(id='name', type='text', placeholder='Nickname', name='name' required)
			section
				i(class='fa fa-users')
				input(id='channel', type='text', placeholder='Channel', name='channel' required)
				span(class='fa fa-key')
			input(id='submit', type='submit', placeholder='Submit', name='submit')
	script(src='js/lib/jquery-2.1.0.min.js')
	script(src='js/login.js')