doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Maid IRC
		link(rel='stylesheet', type='text/css', href='css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='css/fonts.css')
		link(rel='stylesheet', type='text/css', href='css/normalize.css')
		link(rel='stylesheet', type='text/css', href='css/index.css')
		script(src='/socket.io/socket.io.js')
	body
		form(action='/client', method='post')
			h1 Maid IRC
			section
				input#name(type='text', placeholder='Nickname', name='name', spellcheck="false", autofocus, required)
			section.advanced
				input#nicknamePassword(type='password', name='nicknamePassword', placeholder='Password', tabIndex='-1')
			section.advanced
				input#realName(type='text', name='realName', placeholder='Real Name', tabIndex='-1')
			hr.advanced
			section
				input#server(type='text', placeholder='Server', name='server', spellcheck="false", required)
				input#port(type='number', placeholder='Port', name='port', maxlength='4', max="9999")
			section.checkbox.advanced
				input#ssl(type='checkbox', name='sslToggle', tabIndex='-1')
				span.checkboxLabel SSL
			section
				input#channel(type='text', placeholder='Channel', name='channel', spellcheck="false", required)
			footer
				input#submit(type='submit', placeholder='Submit', name='submit')
		a(href='//github.com/Phalanxia/Maid-IRC')#github
			i.fa.fa-github
			| Github
			span
		a#advanced Advanced
			span
	script(src='js/index.js')
