// Variables
// ----------------------------

@brightBlue: #52C1FF;
@midBlue: #213246;
@darkBlue: #182432;
@green: #3C9067;
@yellow: #908B3C;
@red: #903C3C;

// Mixins
// ----------------------------

.transition(@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
		-ms-transition: @transition;
		 -o-transition: @transition;
			transition: @transition;
}

.transform(@transform) {
	-webkit-transform: @transform;
	   -moz-transform: @transform;
	    -ms-transform: @transform;
	     -o-transform: @transform;
			transform: @transform;
}

// Animation
// ----------------------------

@-webkit-keyframes loginError {
	8%, 41% {
		left: ~"calc(50% - 10px)";
	}
	25%, 58% {
		left: ~"calc(50% + 10px)";
	}
	75% {
		left: ~"calc(50% - 5px)";
	}
	92% {
		left: ~"calc(50% + 5px)";
	}
	0%, 100% {
		left: ~"calc(50% - 0px)";
	}
}

@-moz-keyframes loginError {
	8%, 41% {
		left: ~"calc(50% - 10px)";
	}
	25%, 58% {
		left: ~"calc(50% + 10px)";
	}
	75% {
		left: ~"calc(50% - 5px)";
	}
	92% {
		left: ~"calc(50% + 5px)";
	}
	0%, 100% {
		left: ~"calc(50% - 0px)";
	}
}

@-o-keyframes loginError {
	8%, 41% {
		left: ~"calc(50% - 10px)";
	}
	25%, 58% {
		left: ~"calc(50% + 10px)";
	}
	75% {
		left: ~"calc(50% - 5px)";
	}
	92% {
		left: ~"calc(50% + 5px)";
	}
	0%, 100% {
		left: ~"calc(50% - 0px)";
	}
}

@keyframes loginError {
	8%, 41% {
		left: ~"calc(50% - 10px)";
	}
	25%, 58% {
		left: ~"calc(50% + 10px)";
	}
	75% {
		left: ~"calc(50% - 5px)";
	}
	92% {
		left: ~"calc(50% + 5px)";
	}
	0%, 100% {
		left: ~"calc(50% - 0px)";
	}
}

// Everything else
// ----------------------------

*:focus { outline: 0; }

::-moz-selection {
	color: #efefef;
	text-shadow: none;
	background: @brightBlue;
}

::selection {
	color: #efefef;
	text-shadow: none;
	background: @brightBlue;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: fade(@midBlue, 20%);
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical {
	background-color: fade(@midBlue, 80%);
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:horizontal {
	background-color: fade(@midBlue, 80%);
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
	background: @midBlue;
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
}

html,
body {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: #e0e4e9;
	flex-flow: row nowrap;
}

a,
a:visited {
	text-decoration: none;
	color: @brightBlue;
}

a:hover {
	text-decoration: underline;
	color: @brightBlue;
}

a:active {
	text-decoration: none;
	color: @brightBlue;
}

form:invalid {
	// border: 2px solid #ff526b;
}

.btn {
	width: 250px;
	height: 44px;
	padding: 0;
	font-size: 12px;
	line-height: 12px;
	color: #fafbfb;
	background: @midBlue;
	border: none;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	&:hover { cursor: pointer; }
	&:active {
		color: #fafbfb;
		background-color: darken(@midBlue, 6%);
	}
}

// Login and Client
// ----------------------------

#login,
#client {
	position: absolute;
	height: 100%;
	width: 100%;
	&.connected {
		.transition(all .8s ease-in-out);
	}
}

// Login
// ----------------------------

#login {
	top: 0;
	&.connected { top: -100%; }
}

#loginContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	.transform(translate(-50%, -50%));
	&.invalid {
		-webkit-animation: loginError .5s linear;
		   -moz-animation: loginError .5s linear;
			 -o-animation: loginError .5s linear;
				animation: loginError .5s linear;
	}

	#extra {
		text-align: center;
		padding: 20px 0 0 0;
		a {
			font-size: 16px;
			line-height: 16px;
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}
		a:first-child {	padding: 0 20px 0 0; }
	}
}

#loginContainer form {
	width: 290px;
	padding: 20px 0 0 0;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	header {
		height: 32px;
		margin: 0 0 16 0;
		img {
			position: absolute;
			left: 0;
			right: 0;
			top: -48px;
			margin: 0 auto;
		}
		a {
			height: 32px;
			width: 20px;
			margin: 16px 8px;
			color: @brightBlue;
			line-height: 32px !important; // Sorry
			font-size: 26px;
			&.fa-github {
				float: left;
				margin: 16px 0 16px 32px;
			}
			&.fa-gear {
				float: right;
				margin: 16px 32px 16px 0;
			}
		}

	}

	section {
		position: relative;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
	}

	section:not(.checkbox) { width: 290px; }

	input:not([type="checkbox"]) {
		display: inline-block;
		width: 216px;
		height: 44px;
		padding: 0 16px;
		margin: 0 20px 20px 20px;
		font-size: 14px;
		line-height: 20px;
		color: #1b1b1b;
		background: #fbfbfb;
		border: 1px solid #efefef;
		border-radius: 4px;
		box-shadow: inset 0 1px 2px rgba(240, 240, 240, .8);
		.transition(all ease-in-out .15s);
		&:focus { box-shadow: inset 2px 0 80px fadeout(@brightBlue, 60%); }
		&:before { color: #3c3c3c; }
		&.advanced { display: none;	}
	}

	input[name="server"] {
		width: 150px;
		padding: 0 0 0 16px;
		margin: 0 0 20px 20px;
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[name="port"] {
		width: 65px;
		height: 44px;
		padding: 0 0 0 16px;
		margin: 0;
		border-left: 1px dashed #d1d1d1;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

	input[type="checkbox"] {
		display: block;
		width: 22px;
		height: 22px;
		margin: 3px 0 0 16px;
		font: 10px FontAwesome;
		background: none;
		background-color: #fbfbfb;
		border: 1px solid #efefef;
		border-radius: 4px;
		box-shadow: inset 0 1px 2px rgba(240, 240, 240, .8);
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
		&:after {
			left: 0;
			display: none;
			width: 22px;
			height: 22px;
			margin: 0;
			color: @brightBlue;
			content: '\f00c';
		}
		&:checked {
			&:after {
				left: 0;
				display: block;
				width: 20px;
				height: 20px;
				margin: 0;
				font-size: 14px;
				line-height: 20px;
				color: #efefef;
				text-align: center;
				background-color: @brightBlue;
				border-radius: 3px;
				content: '\f00c';
			}
		}
		&:hover { cursor: pointer; }
	}

	&.selected {
		padding: 1px;
		border: transparent;
		box-shadow: 0 0 0 2px @brightBlue;
	}

	section.checkbox {
		height: 40px;
		margin: 0 20px 0 10px;
		input,
		span { float: right; }
		input { margin: 3px 0 0 16px; }
		span {
			line-height: 28px;
			color: @brightBlue;
		}
		&.advanced { display: none; }
	}

	hr {
		display: block;
		width: 250px;
		height: 0;
		margin: 0 20px 20px 20px;
		border: none;
		border-top: 1px dashed #d1d1d1;
		&.advanced { display: none; }
	}

	footer {
		padding: 20px;
		background-color: #f6f9fd;
		border-top: 1px solid #efefef;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		button {
			width: 250px;
			height: 44px;
			font-size: 14px;
			font-weight: bold;
			line-height: 34px;
			color: #fafbfb;
			text-shadow: 0 -1px darken(@brightBlue, 16%);
			background: @brightBlue;
			border: 1px solid darken(@brightBlue, 16%);
			border-radius: 4px;
			box-shadow: inset 0 1px lighten(@brightBlue, 12%);
			&:hover { cursor: pointer; }
			&:active {
				color: #fafbfb;
				background-color: darken(@brightBlue, 6%);
				box-shadow: inset 0 1px lighten(@brightBlue, 5%);
			}
		}
	}
}

// Client
// ----------------------------

#client {
	top: 100%;
	display: inherit;
	opacity: 0;
	&.connected {
		top: 0;
		opacity: 1;
	}
}

#sidebar {
	display: flex;
	width: 200px;
	height: 100%;
	background-color: @midBlue;
	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
	flex: 0 0 auto;
	order: 0;
	flex-flow: column wrap;
	header {
		width: inherit;
		height: 40px;
		background-color: @brightBlue;
		flex: 0 1 auto;
		order: 0;
		h1 {
			float: left;
			width: 68px;
			padding: 0 0 0 14px;
			margin: 0;
			font-size: 16px;
			font-weight: 200;
			line-height: 40px;
			color: #efefef;
			text-align: left;
			span {
				font-weight: 800;
				color: @midBlue;
			}
		}
		button {
			float: right;
			width: 30px;
			height: 30px;
			margin: 5px 14px 5px 0;
			font-size: 16px;
			color: #efefef;
			background: none;
			border: none;
			border-radius: 4px;
			&:active { color: darken(#efefef, 10%); }
		}
		ul {
			position: absolute;
			top: 50px;
			left: 113px;
			z-index: 1;
			height: 40px;
			padding: 0;
			margin: 0;
			list-style: none;
			pointer-events: none;
			background-color: #efefef;
			border-radius: 4px;
			opacity: 0;
			.transition(all .2s ease-in-out);
			.transform(translateY(10px));
			&:before {
				position: absolute;
				bottom: 40px;
				left: 53px;
				border: 6px solid transparent;
				border-bottom: 6px solid #efefef;
				content: '';
			}
			&.displayed {
				pointer-events: auto;
				opacity: 1;
				.transform(translateY(0px));
			}
			li {
				float: left;
				width: 40px;
				height: 40px;
				overflow: hidden;
				line-height: 40px;
				color: #1b1b1b;
				text-align: center;
				border-radius: 4px;
				.transition(background-color .2s ease-in-out);
				&:hover {
					cursor: pointer;
					background-color: #fafafa;
				}
			}
		}
		#status {
			float: left;
			width: 12px;
			height: 12px;
			margin: 14px 8px 8px 52px;
			background-color: @red;
			border-radius: 6px;
			// Temp
			display: none;
		}
	}
	h2 {
		padding: 10px 8px 10px 13px;
		margin: 0;
		font-size: 16px;
		font-weight: 200;
		color: #efefef;
		&:hover {
			cursor: pointer;
			background-color: @darkBlue;
		}
	}
	#channelList {
		width: inherit;
		padding: 0;
		margin: 0;
		list-style: none;
		flex: 1 1 auto;
		order: 1;
		li {
			position: relative;
			width: inherit;
			height: 40px;
			line-height: 40px;
			color: #efefef;
			.transition(background-color .1s ease-in-out);
			&:nth-child(odd) { background-color: darken(@midBlue, 2%); }
			i {
				padding: 0 14px;
				color: #efefef;
			}
			&:hover {
				cursor: pointer;
				background-color: @darkBlue;
			}
			&.focusedChannel {
				&:before {
					position: absolute;
					top: 12px;
					right: 0;
					height: 0;
					border-top: 7px solid transparent;
					border-bottom: 7px solid transparent;
					border-right: 7px solid #fafafa;
					content: "";
				}
			}
			&.focusedChannel:hover { background-color: @darkBlue; }
			&[data-alert] {
				&:after {
					float: right;
					height: 20px;
					min-width: 16px;
					padding: 0 2px;
					margin: 10px 16px 0 10px;
					font-size: 12px;
					line-height: 20px;
					color: #efefef;
					text-align: center;
					background: @brightBlue;
					border-radius: 4px;
					content: attr(data-alert);
				}
			}
			&[data-alert=""] {
				&:after { display: none; }
			}
			span { font-size: 14px; }
		}
	}
	footer {
		width: inherit;
		height: 40px;
		background-color: @darkBlue;
		flex: 0 1 auto;
		order: 2;
		button {
			float: left;
			padding: 0;
			margin: 0;
			background: none;
			border: 0;
			span {
				display: block;
				height: 14px;
				width: 14px;
				margin: 14px 14px;
				background-color: @green;
				border-radius: 7px;
				box-shadow: inset 0 2px 0 0 rgba(80, 80, 80, .5);
			}
		}
		input {
			float: right;
			width: 132px;
			height: 28px;
			padding: 0 6px;
			margin: 6px 14px 0 0;
			color: #efefef;
			text-align: right;
			background: none;
			border: none;
			border-radius: 4px;
		}
	}
}

#channelConsole {
	display: flex;
	flex: 1 1 auto;
	order: 1;
	flex-flow: column wrap;
	header {
		display: flex;
		width: 100%;
		height: 40px;
		background-color: @brightBlue;
		flex: 0 1 auto;
		order: 0;
		flex-flow: row wrap;
		input {
			width: 100%;
			height: 30px;
			padding: 0 8px;
			margin: 5px 0;
			font-size: 14px;
			line-height: 17px;
			color: @darkBlue;
			background-color: #fafafa;
			border: none;
			border-radius: 4px;
			flex: 1 1 auto;
			order: 0;
		}
	}
	output {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		flex: 1 1 auto;
		order: 1;
		flex-direction: column;
		background: #fafafa;
		// Until I can find a monospace version of opensans
		font-family: Monaco, Consolas, "Lucida Console", monospace;
		article {
			float: left;
			width: 100%;
			line-height: 25px;
			.transition(background-color .1s ease-in-out);
			flex: 0 0 auto;
			&:hover { background-color: #eeeeee; }
			aside {
				float: left;
				width: 220px;
				height: 100%;
				min-width: 20px;
				margin: 0 8px 0 0;
				line-height: 24px;
				time {
					float: left;
					width: 80px;
					font-size: 14px;
					color: @darkBlue;
					text-align: center;
				}
				span {
					float: right;
					padding: 0 8px 0 0;
					font-size: 14px;
					color: @brightBlue;
				}
			}
			p {
				padding: 0 8px;
				margin: 0 0 0 220px;
				font-size: 14px;
				line-height: 24px;
				color: @darkBlue;
				word-wrap: break-word;
				white-space: pre-wrap;
				border-left: 1px solid #d9d9d9;
				.highlighted {
					padding: 2px;
					color: #ffffff;
					background-color: @brightBlue;
					border-radius: 2px;
				}
			}
			&#filler {
				display: flex !important;
				height: 100%;
				flex: 1;
				div {
					display: block;
					padding: 0 8px;
					margin: 0 0 0 220px;
					font-size: 14px;
					color: #1b1b1b;
					word-wrap: break-word;
					white-space: pre-wrap;
					border-left: 1px solid #d9d9d9;
					flex: 1;
				}
				&:hover { background: none; }
			}
		}
	}
	footer {
		display: flex;
		width: 100%;
		height: 40px;
		background-color: #ffffff;
		border-top: 1px solid #d1d1d1;
		flex: 0 1 auto;
		order: 2;
		flex-flow: row nowrap;
		input {
			width: 100%;
			height: 40px;
			padding: 0 5px;
			font-size: 16px;
			line-height: 16px;
			background-color: #ffffff;
			border: none;
			flex: 1 1 auto;
			order: 0;
		}
		button {
			width: 80px;
			height: 30px;
			margin: 5px;
			flex: 0 1 auto;
			order: 1;
		}
	}
}

#users {
	display: flex;
	width: 200px;
	height: 100%;
	background-color: #efefef;
	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
	flex: 0 0 auto;
	order: 2;
	flex-flow: column wrap;
	header {
		height: 40px;
		background-color: @brightBlue;
		flex: 0 1 auto;
		order: 0;
		p {
			width: inherit;
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 40px;
			color: #efefef;
			text-align: center;
		}
	}
	ul {
		width: 199px;
		height: ~"calc(100% - 40px)";
		padding: 0;
		margin: 0;
		overflow-y: scroll;
		overflow-x: hide;
		list-style: none;
		border-left: 1px solid #d1d1d1;
		flex: 1 1 auto;
		order: 1;
		li {
			height: 28px;
			color: @midBlue;
			.transition(background-color .1s ease-in-out);
			&:nth-child(odd) { background-color: darken(#efefef, 2%); }
			&:hover {
				cursor: pointer;
				background-color: darken(#efefef, 4%);
			}
			span {
				display: inline-block;
				float: left;
				width: 28px;
				height: 28px;
				padding: 0 8px;
				font-size: 14px;
				line-height: 28px;
				color: @brightBlue;
				text-align: center;
				&.rank0 { color: spin(@brightBlue, 40); }
				&.rank1 { color: spin(@brightBlue, 100); }
				&.rank2 { color: spin(@brightBlue, 160); }
			}
			p {
				float: left;
				padding: 0;
				margin: 0;
				font-size: 14px;
				line-height: 28px;
				color: @darkBlue;
			}
		}
	}
	footer {
		height: 40px;
		border-left: 1px solid #d1d1d1;
		flex: 0 1 auto;
		order: 2;
	}
}


// Other
// ----------------------------

#pageCover {
	z-index: 2;
	// Will Tranition
	visibility: hidden;
	opacity: 0;
	position: absolute;
	// End
	height: 100%;
	width: 100%;
	background-color: fade(@darkBlue, 80%);
	.transition(all .4s ease-in-out);
}

.modal {
	z-index: 3;
	position: absolute;
	.transition(all .4s ease-in-out);
	// Will Tranition
	visibility: hidden;
	top: -50%;
	left: 50%;
	// End
	.transform(translate(-50%, -50%));
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.modal.alert {
	width: 364px;
	height: 160px;
	background-color: #efefef;
	border-radius: 4px;
	p {
		display: block;
		padding: 30px 0 0 0;
		margin: 0;
		font-size: 16px;
		font-weight: bold;
		line-height: 18px;
		color: #919191;
		text-align: center;
	}
	footer {
		position: absolute;
		right: 0;
		bottom: 40px;
		left: 0;
		width: 284px;
		height: 40px;
		margin: 0 auto;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		button:first-child {
			margin: 0 40px 0 0;
			text-shadow: 0 1px 1px darken(#DE5555, 10%);
			background-color: #DE5555;
			border-bottom: 2px solid darken(#DE5555, 10%);
		}
		button:last-child {
			text-shadow: 0 1px 1px darken(#39C082, 10%);
			background-color: #39C082;
			border-bottom: 2px solid darken(#39C082, 10%);
		}
		button {
			display: inline-block;
			float: left;
			width: 122px;
			height: 42px;
			line-height: 42px;
			color: #efefef;
			text-align: center;
			background: transparent;
			border: none;
			border-radius: 4px;
			&:hover { cursor: pointer; }
			&:active { box-shadow: inset 0 2px 6px rgba(60, 60, 60, .4); }
		}
	}
}

#settings {
	width: 600px;
	height: 400px;
	background-color: #efefef;
	border-radius: 4px;
	header {
		width: 100%;
		height: 40px;
		background-color: @brightBlue;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		-webkit-user-select: none;
		   -moz-user-select: none;
				user-select: none;
		h1 {
			float: left;
			padding: 0 0 0 16px;
			margin: 0;
			font-size: 16px;
			font-weight: 400;
			line-height: 40px;
			color: #efefef;
		}
		button {
			float: right;
			width: 40px;
			height: 40px;
			font-size: 20px;
			color: #efefef;
			background: none;
			border: none;
			.transition(background-color .2s ease-in-out);
			&:hover {
				cursor: pointer;
				background-color: darken(@brightBlue, 4%);
				border-top-right-radius: 4px;
			}
			&:active {
				background-color: darken(@brightBlue, 8%);
				border-top-right-radius: 4px;
			}
		}
	}
	nav {
		float: left;
		width: 140px;
		height: 360px;
		-webkit-user-select: none;
		   -moz-user-select: none;
				user-select: none;
		ul {
			display: inline-block;
			width: 140px;
			height: 360px;
			padding: 0;
			margin: 0;
			list-style: none;
			background-color: @midBlue;
			border-bottom-left-radius: 3px;
			li {
				position: relative;
				width: 124px;
				height: 40px;
				padding: 0 0 0 16px;
				font-size: 14px;
				line-height: 40px;
				color: #efefef;
				.transition(background-color .2s ease-in-out);
				&:nth-child(even) { background-color: darken(@midBlue, 2%); }
				&:hover {
					cursor: pointer;
					background-color: @darkBlue;
				}
				&.focused {
					&:before {
						position: absolute;
						top: 12px;
						right: 0;
						height: 0;
						border-top: 7px solid transparent;
						border-right: 7px solid #efefef;
						border-bottom: 7px solid transparent;
						content: "";
					}
				}
			}
		}
	}
	.page {
		display: none;
		float: right;
		width: 428px;
		height: 360px;
		padding: 0 16px;
		overflow-x: hidden;
		overflow-y: scroll;
		hr {
			display: block;
			height: 0;
			margin: 0;
			border: none;
			border-top: 1px dashed @midBlue;
		}
		h2, h3 {
			margin: 14px 0;
			padding: 0;
			color: @midBlue;
		}
		h2 {
			font-size: 20px;
		}
		h3 {
			font-size: 18px;
		}
		p {
			margin: 0 0 14px 0;
			font-size: 16px;
			font-weight: 200;
			white-space: pre-line;
			color: @midBlue;
		}
	}

	.page:nth-of-type(1) { display: block; }

	.page#about {
		h1 {
			padding: 14px 0 0 0;
			margin: 0;
			font-size: 60px;
			font-weight: 800;
			line-height: 60px;
			color: @darkBlue;
			span {
				font-weight: 200;
				color: @brightBlue;
			}
		}
		a {
			margin: 0 20px 0 0;
			font-size: 16px;
			&:hover { cursor: pointer; }
			&:last-child { margin: 0; }
		}
	}
}

.modal.displayed {
	top: 50% !important;
	opacity: 1 !important;
	visibility: visible !important;
}

#pageCover.displayed {
	opacity: 1;
	visibility: visible;
}
