html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

// 313D4B

// Varibles

@brightBlue: #1BA8ED;
@midBlue: #213246;
@darkBlue: #182432;
@green: #3C9067;
@red: #903C3C;

*:focus {
	outline: 0;
}

::-moz-selection {
    background: @brightBlue;
    text-shadow: none;
}

::selection {
    background: @brightBlue;
    text-shadow: none;
}

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background: #fafafa;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
}

#sidebar {
	flex: 0 0 auto;
	order: 0;

	display: flex;
	flex-flow: column wrap;
	
	width: 200px;
	height: 100%;
	background-color: @midBlue;
	header {
		flex: 0 1 auto;
		order: 0;
		width: inherit;
		height: 40px;
		background-color: @brightBlue;
		h1 {
			width: 100px;
			text-align: center;
			line-height: 40px;
			color: #efefef;
			span {
				font-weight: 800;
				color: @midBlue; 
			}
		}
	}
	ul#channelList {
		flex: 1 1 auto;
		order: 1;
		width: inherit;
		li {
			width: inherit;
			height: 40px;
			line-height: 40px;
			color: #efefef;
			i {
				padding: 0 14px;
				color: #efefef;
			}
			&:hover {
				cursor: pointer;
				background-color: @darkBlue;
			}
			&[data-do] {
				&:after {
					display: block;
					float: right;
					min-width: 16px;
					height: 20px;
					padding: 0 2px;
					text-align: center;
					margin: 10px 16px 0 10px;
					background: @brightBlue;
					content: attr(data-do);
					border-radius: 4px;
					font-size: 12px;
					line-height: 20px;
					color: #efefef;
				}
			}
			&[data-do=""] {
				&:after {
					display: none;
				}
			}
			span {
				font-size: 14px;
			}
		}
		li.focusedChannel {
			box-shadow: 0 -4px 0 0 @brightBlue;			
		}
	}
	footer {
		flex: 0 1 auto;
		order: 2;
		width: inherit;
		height: 40px;
		background-color: @darkBlue;
		ul {
			display: inline-block;
			li:first-child {
				margin: 5px 0 5px 5px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-right: 2px solid @darkBlue;
			}
			li:last-child {
				margin: 5px 5px 5px 0;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			li {
				width: 15px;
				height: 15px;
				padding: 7px;
				background-color: @midBlue;
				color: #d1d1d1;
				&:hover {
					cursor: pointer;
					opacity: 0.8;
					background-color: @midBlue;
				}
			}
		}
		span {
			float: right;
			background-color: @red;
			line-height: 30px;
			padding: 0 5px;
			margin: 5px;
			border-radius: 4px;
			font-size: 14px;
			color: #d1d1d1;
		}
	}
}

#channelConsole {
	flex: 1 1 auto;
	order: 1;

	display: flex;
	flex-flow: column wrap;
	header {
		flex: 0 1 auto;
		order: 0;
	
		display: flex;
		flex-flow: row wrap;

		width: 100%;
		height: 40px;
		background-color: @brightBlue;
		input {
			flex: 1 1 auto;
			order: 0;

			width: 100%;
			height: 30px;
			margin: 5px 0;
			padding: 0 8px;
			border: none;
			border-radius: 4px;
			font-size: 14px;
			line-height: 16px;
		}
	}
	output {
		flex: 1 1 auto;
		order: 1;

		width: 100%;
		height: 100%;
		article {
			float: left;
			width: 100%;
			line-height: 25px;
			&:hover {
				 background-color: #eeeeee;
			}
			aside {
				float: left;
				width: 220px;
				min-width: 20px;
				height: 100%;
				margin: 0 8px 0 0;
				border-right: 1px solid #d9d9d9;
				time {
					float: left;
					width: 80px;
					text-align: center;
					font-size: 14px;
					color: #1b1b1b;
				}
				span {
					float: right;
					padding: 0 8px 0 0;
					font-size: 14px;
					color: @brightBlue;
				}
			}
			p {
				margin: 0 0 0 220px;
				padding: 0 0 0 8px;
				font-size: 14px;
				color: #1b1b1b;
				white-space: pre-wrap;
				word-wrap: break-word;
				.messageMadi {
					padding: 2px;
					background-color: @midBlue;
					border-radius: 2px;
					color: #efefef;
				}
			}
		}
	}
	footer {
		flex: 0 1 auto;
		order: 2;
	
		display: flex;
		flex-flow: row nowrap;

		width: 100%;
		height: 40px;
		background-color: #ffffff;
		border-top: 1px solid #d1d1d1;
		input {
			flex: 1 1 auto;
			order: 0;

			width: 100%;
			height: 40px;
			padding: 0 5px;
			background-color: #ffffff;
			border: none;
			font-size: 16px;
			line-height: 16px;
		}
		button {
			flex: 0 1 auto;
			order: 1;

			height: 30px;
			padding: 0;
			margin: 5px;
			width: 80px;
			background: none;
			border: 1px solid @brightBlue;
			border-radius: 4px;
			color: @brightBlue;
			font-size: 14px;
			line-height: 30px;
			&:hover {
				cursor: pointer;
				background-color: @brightBlue;
				color: #ffffff;
			}
		}
	}
}

#users {
	flex: 0 0 auto;
	order: 2;

	display: flex;
	flex-flow: column wrap;

	width: 200px;
	height: 100%;
	background-color: #efefef;
	header {
		flex: 0 1 auto;
		order: 0;
		height: 40px;
		background-color: @brightBlue;
		p {
			width: inherit;
			line-height: 40px;
			text-align: center;
			font-size: 14px;
			color: #efefef;
		}
	}
	ul {
		flex: 1 1 auto;
		order: 1;
	
		width: 199px;
		border-left: 1px solid #d1d1d1;
		li {
			height: 24px;
			color: @midBlue;
			line-height: 24px;
			span {
				display: inline-block;
				width: 16px;
				padding: 0 8px;
				color: @brightBlue;
			}
		}
	}
	footer {
		flex: 0 1 auto;
		order: 2;
		height: 40px;
		border-left: 1px solid #d1d1d1;
		button {
			float: left;
			background: none;
			padding: 0;
			margin: 0;
			border: 0;
			i {
				color: @green;
				margin: 14px 14px;
			}
		}
		h1 {
			float: right;
			padding: 0 14px 0 0;
			line-height: 40px;
			color: @brightBlue;
		}
	}
}