html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: 0;
}
::-moz-selection {
  background: #1ba8ed;
  text-shadow: none;
}
::selection {
  background: #1ba8ed;
  text-shadow: none;
}
html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background: #fafafa;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}
#sidebar {
  flex: 0 0 auto;
  order: 0;
  display: flex;
  flex-flow: column wrap;
  width: 200px;
  height: 100%;
  background-color: #213246;
}
#sidebar header {
  flex: 0 1 auto;
  order: 0;
  width: inherit;
  height: 40px;
  background-color: #1ba8ed;
}
#sidebar header h1 {
  width: 100px;
  text-align: center;
  line-height: 40px;
  color: #efefef;
}
#sidebar header h1 span {
  font-weight: 800;
  color: #213246;
}
#sidebar ul#channelList {
  flex: 1 1 auto;
  order: 1;
  width: inherit;
}
#sidebar ul#channelList li {
  width: inherit;
  height: 40px;
  line-height: 40px;
  color: #efefef;
}
#sidebar ul#channelList li i {
  padding: 0 14px;
  color: #efefef;
}
#sidebar ul#channelList li:hover {
  cursor: pointer;
  background-color: #182432;
}
#sidebar ul#channelList li[data-do]:after {
  display: block;
  float: right;
  min-width: 16px;
  height: 20px;
  padding: 0 2px;
  text-align: center;
  margin: 10px 16px 0 10px;
  background: #1ba8ed;
  content: attr(data-do);
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  color: #efefef;
}
#sidebar ul#channelList li[data-do=""]:after {
  display: none;
}
#sidebar ul#channelList li span {
  font-size: 14px;
}
#sidebar ul#channelList li.focusedChannel {
  box-shadow: 0 -4px 0 0 #1ba8ed;
}
#sidebar footer {
  flex: 0 1 auto;
  order: 2;
  width: inherit;
  height: 40px;
  background-color: #182432;
}
#sidebar footer ul {
  display: inline-block;
}
#sidebar footer ul li:first-child {
  margin: 5px 0 5px 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 2px solid #182432;
}
#sidebar footer ul li:last-child {
  margin: 5px 5px 5px 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#sidebar footer ul li {
  width: 15px;
  height: 15px;
  padding: 7px;
  background-color: #213246;
  color: #d1d1d1;
}
#sidebar footer ul li:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #213246;
}
#sidebar footer span {
  float: right;
  background-color: #903c3c;
  line-height: 30px;
  padding: 0 5px;
  margin: 5px;
  border-radius: 4px;
  font-size: 14px;
  color: #d1d1d1;
}
#channelConsole {
  flex: 1 1 auto;
  order: 1;
  display: flex;
  flex-flow: column wrap;
}
#channelConsole header {
  flex: 0 1 auto;
  order: 0;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 40px;
  background-color: #1ba8ed;
}
#channelConsole header input {
  flex: 1 1 auto;
  order: 0;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 0 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
}
#channelConsole output {
  flex: 1 1 auto;
  order: 1;
  width: 100%;
  height: 100%;
}
#channelConsole output article {
  float: left;
  width: 100%;
  line-height: 25px;
}
#channelConsole output article:hover {
  background-color: #eeeeee;
}
#channelConsole output article aside {
  float: left;
  width: 220px;
  min-width: 20px;
  height: 100%;
  margin: 0 8px 0 0;
  border-right: 1px solid #d9d9d9;
}
#channelConsole output article aside time {
  float: left;
  width: 80px;
  text-align: center;
  font-size: 14px;
  color: #1b1b1b;
}
#channelConsole output article aside span {
  float: right;
  padding: 0 8px 0 0;
  font-size: 14px;
  color: #1ba8ed;
}
#channelConsole output article p {
  margin: 0 0 0 220px;
  padding: 0 0 0 8px;
  font-size: 14px;
  color: #1b1b1b;
  white-space: pre-wrap;
  word-wrap: break-word;
}
#channelConsole output article p .messageMadi {
  padding: 2px;
  background-color: #213246;
  border-radius: 2px;
  color: #efefef;
}
#channelConsole footer {
  flex: 0 1 auto;
  order: 2;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 40px;
  background-color: white;
  border-top: 1px solid #d1d1d1;
}
#channelConsole footer input {
  flex: 1 1 auto;
  order: 0;
  width: 100%;
  height: 40px;
  padding: 0 5px;
  background-color: white;
  border: none;
  font-size: 16px;
  line-height: 16px;
}
#channelConsole footer button {
  flex: 0 1 auto;
  order: 1;
  height: 30px;
  padding: 0;
  margin: 5px;
  width: 80px;
  background: none;
  border: 1px solid #1ba8ed;
  border-radius: 4px;
  color: #1ba8ed;
  font-size: 14px;
  line-height: 30px;
}
#channelConsole footer button:hover {
  cursor: pointer;
  background-color: #1ba8ed;
  color: white;
}
#users {
  flex: 0 0 auto;
  order: 2;
  display: flex;
  flex-flow: column wrap;
  width: 200px;
  height: 100%;
  background-color: #efefef;
}
#users header {
  flex: 0 1 auto;
  order: 0;
  height: 40px;
  background-color: #1ba8ed;
}
#users header p {
  width: inherit;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #efefef;
}
#users ul {
  flex: 1 1 auto;
  order: 1;
  width: 199px;
  border-left: 1px solid #d1d1d1;
}
#users ul li {
  height: 24px;
  color: #213246;
  line-height: 24px;
}
#users ul li span {
  display: inline-block;
  width: 16px;
  padding: 0 8px;
  color: #1ba8ed;
}
#users footer {
  flex: 0 1 auto;
  order: 2;
  height: 40px;
  border-left: 1px solid #d1d1d1;
}
#users footer button {
  float: left;
  background: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#users footer button i {
  color: #3c9067;
  margin: 14px 14px;
}
#users footer h1 {
  float: right;
  padding: 0 14px 0 0;
  line-height: 40px;
  color: #1ba8ed;
}
