html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

@themeColor: #52C1FF; // Purple: #b296e6;

*:focus {
	outline: none;
}

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Arial;
	background: #1b1b1b;
}

form {
	width: 270px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);

	h1 {
		width: 100%;
		color: #52C1FF;
		font-size: 22px;
		line-height: 22px;
		font-weight: 200;
		text-align: center;
	}

	section {
		display: inline-block;
		margin: 0 0 16px 0;
		background: #ffffff;
		border-radius: 4px;

		i {
			float: left;
			width: 16px;
			height: 16px;
			margin: 14px 14px;
			text-align: center;
			color: #1b1b1b;
		}

		input[type="text"] {
			display: inline-block;
			width: 210px;
			height: 44px;
			padding: 0 16px 0 0;
			background: none;
			border: none;
			color: #1b1b1b;
			border-radius: 4px;
			line-height: 20px;
			&:before {
				color: #3c3c3c;
			}
		}
	}

	input[type="submit"] {
		width: 270px;
		height: 44px;
		background-color: @themeColor;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -3px 0 rgba(10, 10, 10, 0.5);
		border: none;
		border-radius: 4px;
		color: #efefef;
		font-size: 14px;
		font-weight: bold;
		line-height: 34px;
		background: -moz-linear-gradient(top, @themeColor 1%, #4888a2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,@themeColor), color-stop(100%,#4888a2));
		background: -webkit-linear-gradient(top, @themeColor 1%,#4888a2 100%);
		background: -o-linear-gradient(top, @themeColor 1%,#4888a2 100%);
		background: -ms-linear-gradient(top, @themeColor 1%,#4888a2 100%);
		background: linear-gradient(to bottom, @themeColor 1%,#4888a2 100%);
		box-shadow: inset 0 -1px 0 rgba(10, 10, 10, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.5);

		&:hover {
			cursor: pointer;
		}

		&:active {
			opacity: 0.8;
			height: 42px;
			margin: 2px 0 0 0;
			box-shadow: inset 0 -2px 0 rgba(10, 10, 10, 0.5);
		}
	}
}

.outline {
	box-shadow: 0 0 0 2px #4888a2;
}