html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: none;
}
@font-face {
  font-family: 'visitor';
  src: url('../fonts/visitor1.ttf');
}
html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background: #fafbfb;
}
a,
a:visited {
  text-decoration: none;
  color: #52c1ff;
}
a:hover {
  text-decoration: underline;
  color: #52c1ff;
}
a:active {
  text-decoration: none;
  color: #182432;
}
#ieBad {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 640px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fdf7f7;
  border: 1px solid #d1d1d1;
  border-left: 4px solid #903c3c;
  border-radius: 4px;
}
#ieBad h4 {
  color: #903c3c;
  font-size: 22px;
  padding: 0 0 4px 0;
}
#ieBad p {
  color: #1b1b1b;
  font-size: 14px;
  line-height: 16px;
}
form {
  width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
form h1 {
  display: block;
  width: inherit;
  height: 50px;
  color: #52c1ff;
  font-size: 23px;
  font-weight: 200;
  line-height: 40px;
  text-align: center;
  text-shadow: 1px 1px white;
  -webkit-font-smoothing: subpixel-antialiased;
}
form h1 span {
  font-weight: 800;
  color: #182432;
}
form section {
  position: relative;
}
form section:not(.password) {
  display: inline-block;
  width: 270px;
  margin: 0 0 16px 0;
  background: white;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  -webkit-transition: all ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s;
}
form section:not(.password) i {
  float: left;
  width: 16px;
  height: 16px;
  padding: 14px 14px;
  background-color: #efefef;
  border-right: 1px solid #d1d1d1;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  color: #1b1b1b;
}
form section:not(.password) input[type="text"] {
  display: inline-block;
  width: 193px;
  height: 44px;
  padding: 0 16px;
  background: none;
  border: none;
  color: #1b1b1b;
  border-radius: 4px;
  line-height: 20px;
}
form section:not(.password) input[type="text"]:before {
  color: #3c3c3c;
}
form section:not(.password):nth-of-type(3) input {
  width: 149px;
}
form section:not(.password):nth-of-type(3) span {
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  margin: 5px;
  background-color: #efefef;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  text-align: center;
  line-height: 32px;
}
form section:not(.password):nth-of-type(3) span:hover {
  cursor: pointer;
}
form section:not(.password):nth-of-type(3) span:active {
  opacity: 0.8;
}
form section .nipple {
  position: absolute;
  top: -10px;
  right: 8px;
  height: 6px;
  width: 27px;
  overflow: hidden;
  padding: 5px 0 0 0;
}
form section .nipple span {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0 0 7px 0;
  background-color: white;
  border: 1px solid #d1d1d1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
form section input[type="password"] {
  float: right;
  width: 149px;
  height: 44px;
  padding: 0 16px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  line-height: 20px;
  margin: 0 0 16px 0;
}
form section input[type="password"]:focus {
  border: 1px solid #52c1ff;
}
form input[type="submit"] {
  width: 270px;
  height: 44px;
  background: none;
  border: 1px solid #52c1ff;
  border-radius: 4px;
  color: #52c1ff;
  font-size: 14px;
  line-height: 34px;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #52c1ff;
  color: #fafbfb;
}
form input[type="submit"]:active {
  cursor: pointer;
  background-color: #52c1ff;
  box-shadow: inset 0 2px 6px rgba(60, 60, 60, 0.4);
  color: #fafbfb;
}
.outline {
  border: 1px solid #52c1ff !important;
}
section.outline .nipple span {
  border: 1px solid #52c1ff !important;
}
