@blue: #52c1ff; // Alt: 1BA8ED
@darkBlue: darken(@blue, 10%);
@green: #3C9067;
@red: #903C3C;

*:focus {
	outline: none;
}

@font-face {
	font-family: 'visitor';
	src: url('../fonts/visitor1.ttf');
}

::-moz-selection {
	background: @blue;
	text-shadow: none;
	color: #efefef;
}

::selection {
	background: @blue;
	text-shadow: none;
	color: #efefef;
}

html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Helvetica, sans-serif;
	background: #ecf0f5;
}

a, a:visited {
	text-decoration: none;
	color: @blue;
}

a:hover{
	text-decoration: underline;
	color: @blue;
}

a:active {
	text-decoration: none;
	color: @darkBlue;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 290px;
	transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	background-color: #ffffff;
	border-radius: 4px;
	// box-shadow: 0 2px 2px 0px rgba(196, 200, 205, 0.5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

	h1 {
		display: block;
		width: inherit;
		height: 32px;
		color: @blue;
		font-size: 23px;
		font-weight: 200;
		line-height: 32px;
		margin: 0 0 16 0;
		text-align: center;
		-webkit-font-smoothing: subpixel-antialiased;
	}

	section {
		position: relative;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
	}

	section:not(.checkbox) {
		width: 290px;
	}

	input:not([type="checkbox"]) {
		display: inline-block;
		width: 218px;
		height: 44px;
		margin: 0 20px 16px 20px;
		padding: 0 16px;
		background: #fbfbfb;
		border: 1px solid #efefef;
		border-radius: 4px;
		line-height: 20px;
		color: #1b1b1b;
		font-size: 14px;
		box-shadow: inset 0 1px 2px rgba(240,240,240,0.8);
		-webkit-transition: all ease-in-out 0.15s;
		transition: all ease-in-out 0.15s;
		&:focus {
			border: 1px solid @blue;
			box-shadow: 0 0 0 1px @blue;
		}
		&:before {
			color: #3c3c3c;
		}
		&.advanced {
			display: none;
		}
	}

	input[name="server"] {
		width: 150px;
		padding: 0 0 0 16px;
		margin: 0 0 16px 20px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-right: none;
	}

	input[name="port"] {
		width: 47px;
		height: 44px;
		padding: 0 16px;
		margin: 5px 0;
		border-left: 1px dashed #d1d1d1;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="checkbox"] {
		-webkit-appearance: none;
		appearance: none;
		display: block;
		width: 22px;
		height: 22px;
		margin: 3px 0 0 16px;
		background: none;
		background-color: #fbfbfb;
		border-radius: 4px;
		border: 1px solid #efefef;
		box-shadow: inset 0 1px 2px rgba(240,240,240,0.8);
		font: 10px FontAwesome;
		&:after {
			display: none;
			content: '\f00c';
			left: 0;
			width: 22px;
			height: 22px;
			margin: 0;
			color: @blue;
		}
		&:checked {
			&:after {
				display: block;
				content: '\f00c';
				left: 0;
				width: 20px;
				height: 20px;
				margin: 0;
				background-color: @blue;
				border-radius: 3px;
				color: #efefef;
				text-align: center;
				line-height: 20px;
				font-size: 14px;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}

	&.selected {
		border: transparent;
		padding: 1px;
		box-shadow: 0 0 0 2px @blue;
	}

	section.checkbox {
		height: 40px;
		margin: 0 20px 0 10px;
		input, span {
			float: right;
		}
		input {
			margin: 3px 0 0 16px;
		}
		span {
			color: @blue;
			line-height: 28px;
		}
		&.advanced {
			display: none;
		}
	}

	hr {
		display: block;
		height: 0;
		width: 250px;
		border: none;
		border-top: 1px dashed #d1d1d1;
		margin: 0 20px 20px 20px;
		&.advanced {
			display: none;
		}
	}

	footer {
		padding: 20px;
		background-color: #F6F9FD;
		border-top: 1px solid #efefef;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		button {
			width: 250px;
			height: 44px;
			background: @blue;
			border: 1px solid darken(@blue, 16%);
			border-radius: 4px;
			box-shadow: inset 0 1px lighten(@blue, 12%);
			color: #fafbfb;
			font-size: 14px;
			line-height: 34px;
			font-weight: bold;
			text-shadow: 0px -1px darken(@blue, 16%);
			&:hover {
				cursor: pointer;
			}
			&:active {
				box-shadow: inset 0 1px lighten(@blue, 5%);
				background-color: darken(@blue, 6%);
				color: #fafbfb;
			}
		}
	}
}

a#advanced, a#github {
	position: absolute;
	bottom: 30px;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: @blue;
	&:active, &:visited, &:hover {
		color: @blue !important;
		text-decoration: none;
		cursor: pointer;
	}
	span {
		display: block;
		height: 2px;
		width: 1px;
		margin: 0 auto;
		opacity: 0;
		background-color: @blue;
		transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
	}
	&:hover span {
		width: 100%;
		opacity: 1;
	}
}

a#github {
	left: 32px;
	i {
		margin: 0 8px 0 0;
		font-size: 24px;
	}
}

a#advanced {
	right: 32px;
	span {
		margin: 2px auto 0 auto;
	}
}
