{
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "strict": [2, "global"]
  },
  "ecmaFeatures": {
    "modules": false
  }
}
